* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  padding: 5px 10px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.dark-mode {
  background-color: #06233b;
  color: white;
}

header {
  margin: 0 auto;
  max-width: 700px;
}

main {
  margin: 0 auto;
  max-width: 700px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 40px;
  height: 40px;
  background-image: url("/assets/book.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav .nav-switches {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
nav .left-side {
  border-right: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 1rem;
}
nav .left-side button {
  all: unset;
  width: 25px;
  height: 25px;
  background-image: url("/assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  margin-top: 2rem;
  height: 3rem;
  position: relative;
}
form input {
  all: unset;
  font-weight: bold;
  padding: 0 15px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #f5f5f5;
}
form input::-moz-placeholder {
  font-size: 0.85rem;
  font-weight: normal;
}
form input::placeholder {
  font-size: 0.85rem;
  font-weight: normal;
}
form button {
  all: unset;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("/assets/search.svg");
  background-size: cover;
}

.content {
  margin-top: 2.5rem;
}

.word-header {
  display: flex;
  justify-content: space-between;
}
.word-header .left h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.word-header .left p {
  color: #a445ed;
  font-size: 1.2rem;
}
.word-header .right button {
  all: unset;
  cursor: pointer;
  background-image: url("/assets/play.svg");
  background-size: cover;
  background-position: center;
  background-color: #c596e9;
  width: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 50px;
}

.meaning-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.meaning-header hr {
  width: 100%;
  background-color: #f5f5f5;
  height: 1px;
  border: none;
}

.meaning-title {
  color: gray;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

ul {
  margin-left: 3rem;
  margin-bottom: 3rem;
}
ul li {
  margin-bottom: 0.5rem;
  color: rgb(45, 45, 45);
  font-size: 0.9rem;
}
ul li::marker {
  color: #a445ed;
}

.synonyms {
  color: gray;
}
.synonyms span {
  margin-left: 1rem;
  color: #a445ed;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 5px;
}
.switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch #sl {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  right: 22px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #06233b;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #06233b;
}
.switch input:checked + .slider:before {
  transform: translateX(20px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.right-side {
  display: flex;
  gap: 10px;
}
.right-side .moon {
  background-image: url("/assets/moon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 25px;
  width: 25px;
  margin-top: 2.5px;
}/*# sourceMappingURL=style.css.map */